Web/Service References/RegistrationService/RegistrationService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRegistrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Response" />
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Error" />
      <xsd:import schemaLocation="https://localhost:44300/RegistrationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityList" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CheckRegistrationPhoneNEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistrationPhoneNEmail" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CheckRegistrationPhoneNEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistrationPhoneNEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CheckRegistrationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistrationEmail" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CheckRegistrationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistrationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_SmsPhoneConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsPhoneConfirmation" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_SmsPhoneConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsPhoneConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_SmsRegistrationResend_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsRegistrationResend" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_SmsRegistrationResend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsRegistrationResendResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/Registration" message="tns:IRegistrationService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RegistrationResponse" message="tns:IRegistrationService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetCityList" message="tns:IRegistrationService_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetCityListResponse" message="tns:IRegistrationService_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationPhoneNEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CheckRegistrationPhoneNEmail" message="tns:IRegistrationService_CheckRegistrationPhoneNEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CheckRegistrationPhoneNEmailResponse" message="tns:IRegistrationService_CheckRegistrationPhoneNEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CheckRegistrationEmail" message="tns:IRegistrationService_CheckRegistrationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CheckRegistrationEmailResponse" message="tns:IRegistrationService_CheckRegistrationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SmsPhoneConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/SmsPhoneConfirmation" message="tns:IRegistrationService_SmsPhoneConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/SmsPhoneConfirmationResponse" message="tns:IRegistrationService_SmsPhoneConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SmsRegistrationResend">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/SmsRegistrationResend" message="tns:IRegistrationService_SmsRegistrationResend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/SmsRegistrationResendResponse" message="tns:IRegistrationService_SmsRegistrationResend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRegistrationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationPhoneNEmail">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CheckRegistrationPhoneNEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationEmail">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CheckRegistrationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsPhoneConfirmation">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/SmsPhoneConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsRegistrationResend">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/SmsRegistrationResend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="https://localhost:44300/RegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>