Web/Service References/PasswordRecoveryService/PasswordRecoveryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PasswordRecoveryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPasswordRecoveryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Error" />
      <xsd:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPasswordRecoveryService_BeginPasswordRecovery_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordRecovery" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_BeginPasswordRecovery_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordRecoveryResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_CheckRecoveryPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRecoveryPhone" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_CheckRecoveryPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRecoveryPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_EmailRecoveryConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailRecoveryConfirmation" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_EmailRecoveryConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailRecoveryConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_SmsRecoveryConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsRecoveryConfirmation" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_SmsRecoveryConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsRecoveryConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_ResendSmsRecoveryConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendSmsRecoveryConfirmation" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_ResendSmsRecoveryConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendSmsRecoveryConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_KobilRecoveryConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:KobilRecoveryConfirmation" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_KobilRecoveryConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:KobilRecoveryConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_NewPasswordFromEmailRecoverySet_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordFromEmailRecoverySet" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecoveryService_NewPasswordFromEmailRecoverySet_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPasswordFromEmailRecoverySetResponse" />
  </wsdl:message>
  <wsdl:portType name="IPasswordRecoveryService">
    <wsdl:operation name="BeginPasswordRecovery">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/BeginPasswordRecovery" message="tns:IPasswordRecoveryService_BeginPasswordRecovery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/BeginPasswordRecoveryResponse" message="tns:IPasswordRecoveryService_BeginPasswordRecovery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecoveryPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/CheckRecoveryPhone" message="tns:IPasswordRecoveryService_CheckRecoveryPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/CheckRecoveryPhoneResponse" message="tns:IPasswordRecoveryService_CheckRecoveryPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailRecoveryConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/EmailRecoveryConfirmation" message="tns:IPasswordRecoveryService_EmailRecoveryConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/EmailRecoveryConfirmationResponse" message="tns:IPasswordRecoveryService_EmailRecoveryConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SmsRecoveryConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/SmsRecoveryConfirmation" message="tns:IPasswordRecoveryService_SmsRecoveryConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/SmsRecoveryConfirmationResponse" message="tns:IPasswordRecoveryService_SmsRecoveryConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendSmsRecoveryConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/ResendSmsRecoveryConfirmation" message="tns:IPasswordRecoveryService_ResendSmsRecoveryConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/ResendSmsRecoveryConfirmationResponse" message="tns:IPasswordRecoveryService_ResendSmsRecoveryConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KobilRecoveryConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/KobilRecoveryConfirmation" message="tns:IPasswordRecoveryService_KobilRecoveryConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/KobilRecoveryConfirmationResponse" message="tns:IPasswordRecoveryService_KobilRecoveryConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPasswordFromEmailRecoverySet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecoveryService/NewPasswordFromEmailRecoverySet" message="tns:IPasswordRecoveryService_NewPasswordFromEmailRecoverySet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecoveryService/NewPasswordFromEmailRecoverySetResponse" message="tns:IPasswordRecoveryService_NewPasswordFromEmailRecoverySet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPasswordRecoveryService" type="tns:IPasswordRecoveryService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPasswordRecoveryService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginPasswordRecovery">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/BeginPasswordRecovery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecoveryPhone">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/CheckRecoveryPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailRecoveryConfirmation">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/EmailRecoveryConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsRecoveryConfirmation">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/SmsRecoveryConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendSmsRecoveryConfirmation">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/ResendSmsRecoveryConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KobilRecoveryConfirmation">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/KobilRecoveryConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPasswordFromEmailRecoverySet">
      <soap:operation soapAction="http://tempuri.org/IPasswordRecoveryService/NewPasswordFromEmailRecoverySet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordRecoveryService">
    <wsdl:port name="BasicHttpBinding_IPasswordRecoveryService" binding="tns:BasicHttpBinding_IPasswordRecoveryService">
      <soap:address location="https://localhost:44300/PasswordRecoveryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>