Web/Service References/PasswordRecoveryService/PasswordRecoveryService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Response" />
  <xs:import schemaLocation="https://localhost:44300/PasswordRecoveryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="BeginPasswordRecovery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginPasswordRecoveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="BeginPasswordRecoveryResult" nillable="true" type="q1:PasswordRecoveryBeginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecoveryPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recoveryTokenId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecoveryPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="CheckRecoveryPhoneResult" nillable="true" type="q3:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRecoveryConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailConfirmationData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRecoveryConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="EmailRecoveryConfirmationResult" nillable="true" type="q4:NewPasswordSettingFromRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmsRecoveryConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsConfirmationData" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recoveryTokenId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmsRecoveryConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SmsRecoveryConfirmationResult" nillable="true" type="q6:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendSmsRecoveryConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recoveryTokenId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendSmsRecoveryConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="ResendSmsRecoveryConfirmationResult" nillable="true" type="q8:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KobilRecoveryConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recoveryTokenId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KobilRecoveryConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="KobilRecoveryConfirmationResult" nillable="true" type="q10:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPasswordFromEmailRecoverySet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recoveryTokenId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPasswordFromEmailRecoverySetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="NewPasswordFromEmailRecoverySetResult" nillable="true" type="q12:PasswordRecoveryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>