Web/Service References/CryptxService/CryptxService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" />
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Response" />
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DSS.Service" />
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" />
  <xs:import schemaLocation="http://api.cryptogramm.ru:5656/CryptxService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="GetContactResult" nillable="true" type="q4:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="contact" nillable="true" type="q5:Contact" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="CreateContactResult" nillable="true" type="q8:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="sortType" type="q9:CertificateSort" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="filter" type="q10:CertificateFilter" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q12:guid" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetUserCertificatesResult" nillable="true" type="q13:CertificatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactId" type="q14:guid" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="sort" type="q15:CertificateSort" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="filter" type="q16:CertificateFilter" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="GetContactCertificatesResult" nillable="true" type="q19:ArrayOfContactCertificateRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="contact" nillable="true" type="q20:Contact" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="EditContactResult" nillable="true" type="q23:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactID" type="q24:guid" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DeleteContactResult" nillable="true" type="q27:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateFromContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactId" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="certificateId" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateFromContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="sortType" type="q32:AddressBookSort" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="filter" type="q33:AddressBookFilter" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q34:guid" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q35:guid" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetAddressBookResult" nillable="true" type="q36:UserAddressBookResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificatesToContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactId" type="q37:guid" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="certRequests" nillable="true" type="q38:ArrayOfCertificateAddRequest" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q39:guid" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificatesToContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DSS.Service" minOccurs="0" name="data" nillable="true" type="q41:ArrayOfOperationFile" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="operationType" type="q42:OperationType" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="FileGroupCreateResult" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileGroupFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileGroupId" type="q45:guid" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileGroupFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DSS.Service" minOccurs="0" name="GetFileGroupFilesResult" nillable="true" type="q47:ArrayOfOperationFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileGroupId" type="q48:guid" />
        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emails" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmationOfReceipt" type="xs:boolean" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q49:guid" />
        <xs:element minOccurs="0" name="publicLink" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="FileGroupSendResult" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileGroupSendId" type="q51:guid" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileGroupReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="FileGroupReceiveResult" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFileGroupReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileGroupSendId" type="q54:guid" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFileGroupReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="RejectFileGroupReceiveResult" nillable="true" type="q56:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q57:guid" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetProfileResult" nillable="true" type="q60:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q61:guid" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetUserProfilesResult" nillable="true" type="q63:UserProfilesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileTooltip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q64:guid" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileTooltipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetProfileTooltipResult" nillable="true" type="q66:ProfileTooltipResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q67:Settings" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q68:guid" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SaveNewProfileResult" nillable="true" type="q70:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfileAsDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q71:guid" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfileAsDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SetProfileAsDefaultResult" nillable="true" type="q73:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q74:Settings" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q75:guid" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SaveProfileResult" nillable="true" type="q77:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlankProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlankProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetBlankProfileResult" nillable="true" type="q78:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q79:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetDefaultProfileResult" nillable="true" type="q80:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q81:guid" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q82:guid" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DeleteProfileResult" nillable="true" type="q84:ProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedToPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q85:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedToPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="NeedToPINResult" nillable="true" type="q86:NeedToPINResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="sort" type="q87:AdminSort" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q88:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetGroupUsersResult" nillable="true" type="q89:AdminInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="certificates" nillable="true" type="q90:ArrayOfbase64Binary" />
        <xs:element minOccurs="0" name="asRecipient" type="xs:boolean" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q91:guid" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q92:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="AddCertificatesResult" nillable="true" type="q93:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileBinarySend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emails" nillable="true" type="xs:string" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q94:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileBinarySendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q95:guid" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetMyCertificatesResult" nillable="true" type="q97:CertificatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetRecipientCertificatesResult" nillable="true" type="q99:CertificatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecryptCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecryptCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetDecryptCertificatesResult" nillable="true" type="q101:CertificatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVGetDecryptCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVGetDecryptCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVGetDecryptCertificatesResult" nillable="true" type="q103:CertificatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesBySearchString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="all" type="xs:boolean" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesBySearchStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetCertificatesBySearchStringResult" nillable="true" type="q105:SearchResultResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipientCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="friendlyname" nillable="true" type="xs:string" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q106:guid" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q107:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipientCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="AddRecipientCertificateResult" nillable="true" type="q108:AddRecipientResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipientCertificateByThumbprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendlyname" nillable="true" type="xs:string" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q109:guid" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipientCertificateByThumbprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="AddRecipientCertificateByThumbprintResult" nillable="true" type="q111:AddRecipientResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFriendlyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendlyname" nillable="true" type="xs:string" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q112:guid" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q113:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFriendlyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeFriendlyNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyCertificateFriendlyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user2CertificateId" type="q114:guid" />
        <xs:element minOccurs="0" name="friendlyname" nillable="true" type="xs:string" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q115:guid" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q116:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyCertificateFriendlyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMyCertificateFriendlyNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMyCertPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user2CertificateId" type="q117:guid" />
        <xs:element minOccurs="0" name="newPWD" nillable="true" type="xs:string" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q118:guid" />
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q119:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMyCertPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SetMyCertPINResult" nillable="true" type="q120:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyCertPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user2CertificateId" type="q121:guid" />
        <xs:element minOccurs="0" name="oldPWD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPWD" nillable="true" type="xs:string" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q122:guid" />
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q123:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyCertPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="ChangeMyCertPINResult" nillable="true" type="q124:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMyCertPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user2CertificateId" type="q125:guid" />
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q126:guid" />
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q127:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMyCertPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DeleteMyCertPINResult" nillable="true" type="q128:OldServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipientRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q129:guid" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q130:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipientRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecipientRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIsAttached">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="file" nillable="true" type="q131:SignedFileInfo" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q132:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIsAttachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SignIsAttachedResult" nillable="true" type="q133:SignAttachmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q134:guid" />
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetCertificateResult" nillable="true" type="q136:CertificateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q137:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="GetFileInfoResult" nillable="true" type="q138:CustomFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q139:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q140:Settings" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q141:PINSettings" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q142:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SignOperationResult" nillable="true" type="q143:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVSignOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q144:Settings" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q145:PINSettings" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q146:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVSignOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVSignOperationResult" nillable="true" type="q147:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListSignOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileUri" nillable="true" type="q148:ArrayOfstring" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q149:Settings" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q150:PINSettings" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q151:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListSignOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVListSignOperationResult" nillable="true" type="q152:DAVListCryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="dataFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q153:Settings" />
        <xs:element minOccurs="0" name="saveSourceFiles" type="xs:boolean" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q154:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="SignVerifyResult" nillable="true" type="q155:SignVerifyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVSignVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="signedFileInfo" nillable="true" type="q156:SignedFileInfo" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q157:Settings" />
        <xs:element minOccurs="0" name="saveSourceFiles" type="xs:boolean" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q158:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVSignVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVSignVerifyResult" nillable="true" type="q159:SignVerifyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListSignVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="fileInfos" nillable="true" type="q160:ArrayOfSignedFileInfo" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q161:Settings" />
        <xs:element minOccurs="0" name="saveSourceFiles" type="xs:boolean" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q162:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListSignVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVListSignVerifyResult" nillable="true" type="q163:ArrayOfSignVerifyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q164:Settings" />
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q165:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="EncryptOperationResult" nillable="true" type="q166:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVEncryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q167:Settings" />
        <xs:element xmlns:q168="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q168:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVEncryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVEncryptOperationResult" nillable="true" type="q169:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListEncryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileUri" nillable="true" type="q170:ArrayOfstring" />
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q171:Settings" />
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q172:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListEncryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVListEncryptOperationResult" nillable="true" type="q173:DAVListCryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q174:Settings" />
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q175:PINSettings" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q176:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DecryptOperationResult" nillable="true" type="q177:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVDecryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q178:Settings" />
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q179:PINSettings" />
        <xs:element xmlns:q180="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q180:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVDecryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVDecryptOperationResult" nillable="true" type="q181:CryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListDecryptOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileUri" nillable="true" type="q182:ArrayOfstring" />
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/DSS.Service.Settings" minOccurs="0" name="settings" nillable="true" type="q183:Settings" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" minOccurs="0" name="pinSettings" nillable="true" type="q184:PINSettings" />
        <xs:element xmlns:q185="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q185:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAVListDecryptOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="DAVListDecryptOperationResult" nillable="true" type="q186:DAVListCryptoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizationUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q187:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizationUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/DSS.Service.Response" minOccurs="0" name="GetVisualizationUrlResult" nillable="true" type="q188:GetVisualizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>