Web/Service References/MarkerActivationService/MarkerActivationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarkerActivationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMarkerActivationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Response.MarkerActivation" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Error" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="https://localhost:44301/MarkerActivationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DSS.Service.Helper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarkerActivationService_LogOn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_LogOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_CheckSms_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSms" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_CheckSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetMarkerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkerStatus" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetMarkerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetCertificateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateInfo" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetCertificateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_CreateRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequest" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_CreateRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_ResendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendRequest" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_ResendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetMyCertificatesRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyCertificatesRequests" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetMyCertificatesRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyCertificatesRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_DeleteRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_DeleteRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetUserHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserHtml" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetUserHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_ResendSms_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendSms" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_ResendSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetNSetCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNSetCertificate" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetNSetCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNSetCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetNSetTestCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNSetTestCertificate" />
  </wsdl:message>
  <wsdl:message name="IMarkerActivationService_GetNSetTestCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNSetTestCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarkerActivationService">
    <wsdl:operation name="LogOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/LogOn" message="tns:IMarkerActivationService_LogOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/LogOnResponse" message="tns:IMarkerActivationService_LogOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/CheckSms" message="tns:IMarkerActivationService_CheckSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/CheckSmsResponse" message="tns:IMarkerActivationService_CheckSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarkerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetMarkerStatus" message="tns:IMarkerActivationService_GetMarkerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetMarkerStatusResponse" message="tns:IMarkerActivationService_GetMarkerStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetCertificateInfo" message="tns:IMarkerActivationService_GetCertificateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetCertificateInfoResponse" message="tns:IMarkerActivationService_GetCertificateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/CreateRequest" message="tns:IMarkerActivationService_CreateRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/CreateRequestResponse" message="tns:IMarkerActivationService_CreateRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/ResendRequest" message="tns:IMarkerActivationService_ResendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/ResendRequestResponse" message="tns:IMarkerActivationService_ResendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyCertificatesRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetMyCertificatesRequests" message="tns:IMarkerActivationService_GetMyCertificatesRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetMyCertificatesRequestsResponse" message="tns:IMarkerActivationService_GetMyCertificatesRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/DeleteRequest" message="tns:IMarkerActivationService_DeleteRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/DeleteRequestResponse" message="tns:IMarkerActivationService_DeleteRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetUserHtml" message="tns:IMarkerActivationService_GetUserHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetUserHtmlResponse" message="tns:IMarkerActivationService_GetUserHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/ResendSms" message="tns:IMarkerActivationService_ResendSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/ResendSmsResponse" message="tns:IMarkerActivationService_ResendSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNSetCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetNSetCertificate" message="tns:IMarkerActivationService_GetNSetCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetNSetCertificateResponse" message="tns:IMarkerActivationService_GetNSetCertificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNSetTestCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerActivationService/GetNSetTestCertificate" message="tns:IMarkerActivationService_GetNSetTestCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerActivationService/GetNSetTestCertificateResponse" message="tns:IMarkerActivationService_GetNSetTestCertificate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarkerActivationService" type="tns:IMarkerActivationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMarkerActivationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSms">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/CheckSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkerStatus">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetMarkerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateInfo">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetCertificateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRequest">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/CreateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendRequest">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/ResendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyCertificatesRequests">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetMyCertificatesRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/DeleteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserHtml">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetUserHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendSms">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/ResendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNSetCertificate">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetNSetCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNSetTestCertificate">
      <soap:operation soapAction="http://tempuri.org/IMarkerActivationService/GetNSetTestCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarkerActivationService">
    <wsdl:port name="BasicHttpBinding_IMarkerActivationService" binding="tns:BasicHttpBinding_IMarkerActivationService">
      <soap:address location="https://localhost:44301/MarkerActivationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>