Web/Service References/MarkerActivationService/MarkerActivationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSS.Service.Error" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSS.Service.Error" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MarkerActivationError">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceError">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarkerActivationError" nillable="true" type="tns:MarkerActivationError" />
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
</xs:schema>